.btn-success{
    margin: 100px; 
}

.ui.modal {
    width: 60%;
    height: 40%;
    margin: 50px;
    margin-left: 50px;
    top: 100px;
}

.MessageCard {
    margin-bottom: 15px;
    margin-top: 15px;
}


