.containerTodo {
  margin: 20px;
  margin-left: 200px;
  margin-right: 200px;
  width: auto;
  align-content: center;
}


.todos {
  /* background: rgba(220, 220, 220, 0.25)	; */
  background: linen;
  display: flex;
  margin: 20px;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 10px;
  align-content: space-between;
  width: 800px;
  box-shadow: 10px 5px 5px silver;
}

.space {
  margin: 10px;
}
.textTodo {
  width: 450px;
}