.container {
  margin: 20px;
  width: 800px;
}


.todos {
  background: rgba(220, 220, 220, 0.25)	;
  display: flex;
  margin: 20px;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 10px;
  align-content: space-between;
  width: 800px;
  box-shadow: 10px 5px 5px silver;
}

.space {
  margin: 10px;
}
.text {
  width: 450px;
}