.todoButton {
  display: flex;
  justify-content: space-evenly;
}

.todos {
  display: flex;
  justify-content: space-evenly;
}

.container {
 display: flex;
 flex-direction: column;
}

.border {
  border:1px solid black;
}

.card {
  width: auto;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.card-link {
  margin: 12px 0 0 0;
  font-size: 0.7em;
}

