.newsButton {
  display: flex;
  margin: 100px 0 10px 30px;
}

.news {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 2rem;
}

.card {
  width: 10rem;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.card-link {
  margin: 12px 0 0 0;
  font-size: 0.7em;
}

.article-list {
  display: flex;
  justify-content: flex-start;
}