.newsButton {
  display: flex;
  margin: 20px 0 10px 30px;
  justify-content: center;
}

.news {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 2rem;
}

.newsImage {
  /* max-width: 100%; */
  width: 300px;
  margin: 50px;
}

.eachArticle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 2px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 90%;
  /* justify-content: center; */
  border-radius: 15px;
  margin: 20px 10px;
  background-color: linen;
}

.article-Details {
  margin-left: 2rem;
  margin-top: 100px;
  line-height: 2;
  max-width: 50%;
  word-wrap: break-word;
}

.card {
  width: 10rem;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.card-link {
  margin: 12px 0 0 0;
  font-size: 2em;
}

.article-list {
  /* display: flex;
  flex-direction: row; */
}