.newsButton {
  display: flex;
  margin: 100px 0 10px 30px;
}

.news {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 2rem;
}

.newsImage {
  /* max-width: 100%; */
  width: 300px;
  margin: 50px 0
}

.eachArticle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.articleDetails {
  margin-left: 2rem;
  margin-top: 100px;
  line-height: 2;
}

.card {
  width: 10rem;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.card-link {
  margin: 12px 0 0 0;
  font-size: 0.7em;
}

.article-list {
  display: flex;
  justify-content: flex-start;
}