#react-img {
  height: 30px;
  width: 30px;
}

#navTagline {
  font-weight: bold;
  font-size: 20px;
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
  font-size: 1rem;
  margin: 1px;
  color: blue;
}
